<meta charset="UTF-8">
<title>Related Treasury</title>

<meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Required for responsiveness-->
<link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png"> <!-- Branding -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,400" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">

<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css" type="text/css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>

<link href="/assets/css/samples.css" type="text/css" rel="stylesheet"/>
<script>
    if (navigator.appName == 'Microsoft Internet Explorer' || !!(navigator.userAgent.match(/Trident/) || navigator.userAgent.match(/rv:11/)) || (typeof $.browser !== "undefined" && $.browser.msie == 1)) //IF IE show warning
    {
       alert("Internel Explorer is not a supported browser, please use Google Chrome or Mozila Firefox");
    }
</script>
<script src="/assets/js/global.js"></script>
<!--<script src="/assets/minjs/global-min.js"></script>-->
<!--<script src="/assets/js/table2CSV.js"></script>-->
<script src="/assets/minjs/table2CSV-min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script> <!-- Icons: https://fontawesome.com/v4.7.0 -->
<base href="/" />