<meta charset="UTF-8">
<title>Related Treasury</title>

<meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Required for responsiveness-->

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,400" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">

<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css" type="text/css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>

<link href="/assets/css/samples.css" type="text/css" rel="stylesheet"/>
<script src="/assets/js/global.js"></script>
<base href="/" />