<!DOCTYPE html>
<html lang="en">
  <head>
    {{>head}}
  </head>
  <body>

    {{>menu}}

    <div id="content" class="ui padded grid relaxed">
      <div id="doc" class="column eight wide">
        <div class="doc-overview">

          <h2 class="ui dividing header" data-se="overview-doc-header">
            Related Treasury : Payments Portal
          </h2>

          {{^isLoggedIn}}
            <p></p>
          {{/isLoggedIn}}

          {{#isLoggedIn}}
            <p>Welcome back, {{userinfo.name}}!</p>
            <p>You have successfully authenticated through single sign on.</p>
            <p>More to come!</p>
          {{/isLoggedIn}}

          {{^isLoggedIn}}
            <form method="get" action="/login">
              <button id="login-button" class="ui primary button" type="submit">Log In</button>
            </form>
          {{/isLoggedIn}}
        </div>
      </div>
      <div class="column seven wide sample-col right floated" id="systemInfoDiv">
        <h3>Server Configuration</h3>
        <p>This server has been configured with the following settings:</p>
        <table class="ui table compact collapsing">
          <thead>
            <tr>
              <th>Setting</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Issuer</td>
              <td>{{oidcConfig.issuer}}</td>
            </tr>
            <tr>
              <td>Client ID</td>
              <td>{{oidcConfig.clientId}}</td>
            </tr>
            <tr>
              <td>Client Secret</td>
              <td>{{oidcConfig.clientSecret}}</td>
            </tr>
            <tr>
              <td>Redirect Uri</td>
              <td>{{oidcConfig.redirectUri}}</td>
            </tr>
            <tr>
              <td>Requested Scope</td>
              <td>{{oidcConfig.scope}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
