<section class="hero banner">
  <div class="hero-body">
    <div>
      <img src="https://ok4static.oktacdn.com/bc/image/fileStoreRecord?id=fs01sicv34fEkVDQy1t7" class="bannerImg"/>
      <label class="label">Related Treasury</label>
    </div>
  </div>
</section>

<div class="ui inverted left fixed vertical menu fullWith">
  <a id="item-overview" class="item" href="/">Home</a>
  <div id="section-authorization-code" class="item">
    <div class="menu">
      {{#isLoggedIn}}
        <a id="profile-button" data-se="profile" class="item" href="/profile">
          My Profile
        </a>
        <a id="payinfo-button" data-se="payinfo" class="item" href="/payinfo">
          Beneficiary EFT Setup
        </a>
        <a id="logout-button" data-se="logout" class="item" href="/logout">
          Logout
        </a>
      {{/isLoggedIn}}
    </div>
  </div>
</div>

<nav role="navigation" class="smallFactor ui inverted left fixed vertical menu">
  <div id="menuToggle">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>

    <!--
    Too bad the menu has to be inside of the button
    but hey, it's pure CSS magic.
    -->
    <ul id="menu">
       <a id="item-overview" class="item" href="/"><li>Home</li></a>
     {{#isLoggedIn}}
        <a id="profile-button" data-se="profile" class="item" href="/profile">
          <li>My Profile</li>
        </a>
        <a id="payinfo-button" data-se="payinfo" class="item" href="/payinfo">
          <li>Beneficiary EFT Setup</li>
        </a>
        <a id="logout-button" data-se="logout" class="item" href="/logout">
          <li>Logout</li>
        </a>
      {{/isLoggedIn}}
    </ul>
  </div>
</nav>
