<section class="hero banner">
  <div class="hero-body">
    <div>
      <img src="/assets/images/related_logo.svg" class="bannerImg"/>
      <label class="label">Related Treasury</label>
    </div>
  </div>
</section>

<div class="ui inverted left fixed vertical menu fullWith">
  <a id="item-overview" class="item" href="/" style='font-size:16px;'>Home</a>
  <div id="section-authorization-code" class="item">
    <div class="menu">
      {{#isLoggedIn}}
        <a id="profile-button" data-se="profile" class="item" href="/profile" style='font-size:14px;'>
          My Profile
        </a>
        <a id="payinfo-button" data-se="payinfo" class="item" href="/payinfo" style='font-size:14px;'>
          Beneficiary EFT Setup
        </a>
         <!-- Jorge Medina 12/12/2018 Add External Vendor Form option -->
         <a id="externalVendorReview-button" data-se="payinfo" class="item" href="/vendors" style='font-size:14px;'>
          External Vendor Forms
        </a>
        <!-- -->
        <a id="logout-button" data-se="logout" class="item" href="/logout" style='font-size:14px;'>
          Logout
        </a>
      {{/isLoggedIn}}
    </div>
  </div>
</div>

<nav role="navigation" class="smallFactor ui inverted left fixed vertical menu">
  <div id="menuToggle">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>

    <!--
    Too bad the menu has to be inside of the button
    but hey, it's pure CSS magic.
    -->
    <ul id="menu">
       <a id="item-overview" class="item" href="/" style='font-size:16px;'><li>Home</li></a>
     {{#isLoggedIn}}
        <a id="profile-button" data-se="profile" class="item" href="/profile" style='font-size:14px;'>
          <li>My Profile</li>
        </a>
        <a id="payinfo-button" data-se="payinfo" class="item" href="/payinfo" style='font-size:14px;'>
          <li>Beneficiary EFT Setup</li>
        </a>
        <!-- Jorge Medina 12/12/2018 Add External Vendor Form option -->
         <a id="externalVendorReview-button" data-se="payinfo" class="item" href="/vendors" style='font-size:14px;'>
          <li>External Vendor Forms</li>
        </a>
        <!-- -->
        <a id="logout-button" data-se="logout" class="item" href="/logout" style='font-size:14px;'>
          <li>Logout</li>
        </a>
      {{/isLoggedIn}}
    </ul>
  </div>
</nav>
