<div id="rightbar" class="ui very wide right sidebar vertical visible">
  <h3 id="recordInfoHdr">Record Info</h3>
   <button class="delete is-danger" id="rightClose" aria-label="close" onclick="hideDiv('rightbar')"></button>
     <span class="icon" id="rightMaxim" onclick="showFullDiv('rightbar');">
  <i class="fa fa-arrows-alt" aria-hidden="true"></i>
</span>
 <span class="icon" id="rightMin" onclick="showMinDiv('rightbar');">
  <i class="fa fa-window-minimize" aria-hidden="true"></i>
</span>
  <table class="ui table compact" id="payinfofields">
    <thead>
      <tr>
        <th>Setting</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>BES ID</td>
        <td id="rowid">**New**</td>
      </tr>
      <tr>
        <td>Workflow Status</td>
        <td id="wfstatus"></td>
      </tr>
      <tr>
        <td>Pay Type</td>
        <td>
             <div class="select is-info">
            <select name="paytype" id="paytype">
              <option value="ACH">ACH</option>
              <option value="Wire">Wire</option>
            </select>
            </div>
        </td>
      </tr>
      <tr>
        <td>ACH SEC</td>
        <td>
             <div class="select is-info">
            <select name="achsec" id="achsec">
              <option value="CCD">CCD</option>
              <option value="PPD">PPD</option>
            </select>
            </div>
        </td>
      </tr>
      <tr>
        <td>Source System</td>
        <td><input type="text" value="EXAMPLE" id="sourcesystem" class="input is-info "/></td>
      </tr>
      <tr>
        <td>System Payee ID</td>
        <td><input type="text" value="V000000" id="vendorid" class="input is-info "/></td>
      </tr>
      <tr>
        <td>Beneficiary Name</td>
        <td><input type="text" value="VENDOR NAME HERE" id="payeename" class="input is-info "/></td>
      </tr>
      <tr>
        <td>Beneficiary Address</td>
        <td><input type="text" value="123 MAIN STREET" id="payeeaddress" class="input is-info "/></td>
      </tr>
      <tr>
        <td>Beneficiary City</td>
        <td><input type="text" value="ANYWHERE" id="payeecity" class="input is-info "/></td>
      </tr>
      <tr>
        <td>Beneficiary State/Province</td>
        <td><input type="text" value="CA" id="payeestate" class="input is-info "/></td>
      </tr>
      <tr>
        <td>Beneficiary ZIP/Postal</td>
        <td><input type="text" value="92000" id="payeezip" class="input is-info "/></td>
      </tr>
      <tr>
        <td>Beneficiary Country</td>
        <td><input type="text" value="US" id="payeecountry" class="input is-info "/></td>
      </tr>
      <tr>
        <td>For Further Credit To</td>
        <td><input type="text" value="SOMEONE ELSE" id="forfurthercredit" class="input is-info "/></td>
      </tr>
      <tr>
        <td>Bank Name</td>
        <td><input type="text" value="INSTITUTION NAME HERE" id="bankname" class="input is-info "/></td>
      </tr>
      <tr>
        <td>Bank Address</td>
        <td><input type="text" value="9000 WALL STREET" id="bankaddress" class="input is-info "/></td>
      </tr>
      <tr>
        <td>Bank City</td>
        <td><input type="text" value="SOMEWHERESVILLE" id="bankcity" class="input is-info "/></td>
      </tr>
      <tr>
        <td>Bank State/Province</td>
        <td><input type="text" value="NY" id="bankstate" class="input is-info "/></td>
      </tr>
      <tr>
        <td>Bank ZIP/Postal</td>
        <td><input type="text" value="10101" id="bankzip" class="input is-info "/></td>
      </tr>
      <tr>
        <td>Bank Country</td>
        <td><input type="text" value="US" id="bankcountry" class="input is-info "/></td>
      </tr>
      <tr>
        <td>Routing Number</td>
        <td><input type="text" value="123456789" id="routing" class="input is-info "/></td>
      </tr>
      <tr>
        <td>Account Number</td>
        <td><input type="text" value="1000200030004000" id="account" class="input is-info "/></td>
      </tr>
      <tr>
        <td>Swift</td>
        <td><input type="text" value="ABCDEFGHIJK" id="swift" class="input is-info "/></td>
      </tr>
      <tr>
        <td>Intermediary Bank Name</td>
        <td><input type="text" value="INTERMED BANK" id="interbankname" class="input is-info "/></td>
      </tr>
      <tr>
        <td>Intermediary Bank Address</td>
        <td><input type="text" value="5YJ INTERNATIONAL ST" id="interbankaddress" class="input is-info "/></td>
      </tr>
      <tr>
        <td>Intermediary Bank City</td>
        <td><input type="text" value="SOMEWHERE" id="interbankcity" class="input is-info "/></td>
      </tr>
      <tr>
        <td>Intermediary Bank State/Province</td>
        <td><input type="text" value="NS" id="interbankstate" class="input is-info "/></td>
      </tr>
      <tr>
        <td>Intermediary Bank ZIP/Postal</td>
        <td><input type="text" value="XJY5YA" id="interbankzip" class="input is-info "/></td>
      </tr>
      <tr>
        <td>Intermediary Bank Country</td>
        <td><input type="text" value="CANADA" id="interbankcountry" class="input is-info "/></td>
      </tr>
      <tr>
        <td>Intermediary Bank Routing</td>
        <td><input type="text" value="ABC123456XYZ" id="interrouting" class="input is-info "/></td>
      </tr>
      <tr>
        <td>Intermediary Bank Swift</td>
        <td><input type="text" value="ABABABABABA" id="interswift" class="input is-info "/></td>
      </tr>
      <tr>
        <td>Validation Notes</td>
        <td><input type="text" value="Some notes here" id="notes" class="input is-info "/></td>
      </tr>
    </tbody>
  </table>

  <table class="ui table compact collapsing" id="payinfoactions">
    <tbody>
        <tr>
          <td>
            Action
          </td>
          <td>
            <div class="select is-info">
                <select name="action" id="action">
                  <option value="New">New</option>
                </select>
            </div>
          </td>
          <td><button type="button" id="btnAuditLog" class="button is-info">Show Audit Log</button></td>
        </tr>
    </tbody>
  </table>

<table class="ui table compact collapsing" id="attachmentsTable">
    <thead>
      <tr>
        <th>Filename</th>
        <th>Date</th>
        <th>View</th>
      </tr>
    </thead>
    <tbody></tbody>
    </table>
 <div class="file is-boxed is-primary" id="filesDiv">
  <label class="file-label">
    <input class="file-input" type="file" name="attachment" id="attachment" onchange="setFileName();" multiple>
    <span class="file-cta">
      <span class="file-icon">
        <i class="fas fa-upload"></i>
      </span>
      <span class="file-label">
        Upload File
      </span>
    </span>
      <span class="file-name" id="uploadFileName">

    </span>
  </label>
</div>
<button type="button" id="btnAttachAuditLog" class="button is-info">Show File Log</button>
  <table class="ui table compact collapsing" id="workflow">
    <tbody>
      <tr>
        <td>Workflow</td>
        <td id="wf_name"></td>
      </tr>
      <tr>
        <td>Current Step</td>
        <td id="wf_currentstep"></td>
      </tr>
      <tr>
        <td>
          Next Step
        </td>
        <td>
          <div class="select is-info">
           <select name="wf_stepnext" id="wf_stepnext">
           </select>
         </div>
        </td>
      </tr>
      <tr>
        <td>WF Notes</td>
        <td><input type="text" value="" id="wf_notes" class="input is-info "/></td>
      </tr>
      <tr>
        <td>
          <button type="button" id="btnSave" class="button is-info">Save</button>
        </td>
      </tr>
    </tbody>

  <table class="ui table compact collapsing" id="wf_history">
    <thead>
      <tr>
        <th>Step</th>
        <th>User</th>
        <th>Date</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>

</div>