<!DOCTYPE html>
<html lang="en">
  <head>
    {{>head}}
  </head>
  <body>

    {{>menu}}

    <div id="content" class="ui grid">

      {{>payinfo_right}}

      <div id="doc" class="column twelve wide" style="overflow-y:auto;white-space:nowrap;">
        <div class="doc-overview">
          <h2 class="ui dividing header" data-se="overview-doc-header">
            Beneficiary EFT Setup
          </h2>
          <table id="searchFilter" class="ui very compact celled table" style="width:400px;">
            <thead>
                <th>BES ID</th>
                <th>Workflow Step</th>
                <th>EFT Type</th>
                <th>Source System</th>
                <th>System Payee Name or ID</th>
                <th>Bank Name</th>
            </thead>
            <tbody>
              <tr>
                <td><input type="text" value="" id="filter_id"/></td>
                <td>
                  <select name="filterstep" id="filter_step">
                    <option value="" selected></option>
                    <option value="Entry">Entry</option>
                    <option value="Review">Review</option>
                    <option value="Reject">Reject</option>
                    <option value="Hold">Hold</option>
                    <option value="Approved">Approved</option>
                  </select>
                </td>
                <td>
                  <select name="filtertype" id="filter_type">
                    <option value="" selected></option>
                    <option value="ACH">ACH</option>
                    <option value="Wire">Wire</option>
                  </select>
                </td>
              <td><input type="text" value="" id="filter_source"/></td>
                <td><input type="text" value="" id="filter_vendor"/></td>
                <td><input type="text" value="" id="filter_bank"/></td>
              </tr>
              <tr>
                <td><button type="button" id="btnFilter">Search</button></td>
              </tr>
            </tbody>
          </table>
          <table id="userList" class="ui very compact celled selectable table striped">
            <thead>
              <th>BES ID</th>
              <th>Workflow</th>
              <th>Type</th>
              <th>ACH SEC</th>
              <th>Source</th>
              <th>System Payee ID</th>
              <th>Name</th>
              <th>Address</th>
              <th>City</th>
              <th>State</th>
              <th>Zip</th>
              <th>Country</th>
              <th>F.F.C.</th>
              <th>Bank</th>
              <th>Bank Address</th>
              <th>Bank City</th>
              <th>Bank State</th>
              <th>Bank Zip</th>
              <th>Bank Country</th>
              <th>Routing #</th>
              <th>Account #</th>
              <th>SWIFT</th>
              <th>Int'med. Bank</th>
              <th>Int'med Address</th>
              <th>Int'med City</th>
              <th>Int'med State</th>
              <th>Int'med ZIP</th>
              <th>Int'med Country</th>
              <th>Int Routing</th>
              <th>Int Swift</th>
              <th>Notes</th>
            </thead>
            <tbody></tbody>
          </table>
        </div>

      </div>

    </div>

    <div class="ui longer modal">
      <div class="header">Audit Log</div>
      <div class="scrolling content">
        <table id="auditlog">
          <thead>
            <th>BES ID</th>
            <th>Action</th>
            <th>Modified</th>
            <th>Username</th>
            <th>Data</th>
          </thead>
          <tbody></tbody>
        </table>
      </div>
      <div class="actions">
      <div class="ui primary ok button">
        OK
        <i class="right chevron icon"></i>
      </div>
      </div>
    </div>

  </body>
</html>
