
<!DOCTYPE html>
<html lang="en">
  <head>
    {{>head}}
    <script>

    </script>
  </head>
  <body>
    <section class="hero banner">
  <div class="hero-body">
    <div>
      <img src="/assets/images/related_logo.svg" class="bannerImg"/>
      <label class="label">Related Treasury</label>
    </div>
  </div>
</section>
    <div id="vendorform" class="ui very wide center vertical visible">
  <h3 id="vendorFormHdr">Vendor Information</h3>
  <table class="ui table compact" id="payinfofields">
    <thead>

    </thead>
    <tbody>
      <tr>
        <td><label class='label'>Legal Entity Name</label></td>
        <td colspan='5'><input type="text" placeholder="Legal Entity Name" id="legalentityname" class="input is-info " onclick="inputShow(this)"/></td>
      </tr>
      <tr>
        <td><label class='label'>Email for 1099 Contact</label></td>
        <td><input type="text" placeholder="1099 Email" id="email1099" class="input is-info " onclick="inputShow(this)"/></td>
        <td><label class='label'>Name</label></td>
        <td><input type="text" placeholder="Name" id="name" class="input is-info " onclick="inputShow(this)"/></td>
        <td><label class='label'>Title</label></td>
        <td><input type="text" placeholder="Title" id="title" class="input is-info " onclick="inputShow(this)"/></td>
      </tr>
       <tr>
        <td><label class='label'>Address Line 1</label></td>
        <td colspan='5'><input type="text" placeholder="Address Line 1" id="address1" class="input is-info " onclick="inputShow(this)"/></td>
      </tr>
      <tr>
        <td><label class='label'>Address Line 2</label></td>
        <td colspan='3'><input type="text" placeholder="Address Line 2" id="address2" class="input is-info " onclick="inputShow(this)"/></td>
        <td><label class='label'>City</label></td>
        <td><input type="text" placeholder="City" id="city" class="input is-info " onclick="inputShow(this)"/></td>
      </tr>
      <tr>
        <td><label class='label'>State</label></td>
        <td><input type="text" placeholder="State" id="state" class="input is-info " onclick="inputShow(this)"/></td>
        <td><label class='label'>Zip Code</label></td>
        <td><input type="text" placeholder="Zip Code" id="zip" class="input is-info " onclick="inputShow(this)"/></td>
         <td><label class='label'>Country</label></td>
        <td><input type="text" placeholder="Country" id="country" class="input is-info " onclick="inputShow(this)"/></td>
      </tr>
      <tr>
        <td><label class='label'>Bank Name</label></td>
        <td><input type="text" placeholder="Bank Name" id="bankname" class="input is-info " onclick="inputShow(this)"/></td>
         <td><label class='label'>Bank Address</label></td>
        <td colspan='3'><input type="text" placeholder="Bank Address" id="bankaddress" class="input is-info " onclick="inputShow(this)"/></td>
      </tr>
      <tr>
        <td><label class='label'>Bank City</label></td>
        <td><input type="text" placeholder="Bank City" id="bankcity" class="input is-info " onclick="inputShow(this)"/></td>
        <td><label class='label'>Bank State/Province</label></td>
        <td><input type="text" placeholder="Bank State Province" id="bankstate" class="input is-info " onclick="inputShow(this)"/></td>
        <td><label class='label'>Bank ZIP/Postal</label></td>
        <td><input type="text" placeholder="Bank ZIP/Postal" id="bankzip" class="input is-info " onclick="inputShow(this)"/></td>
      </tr>
      <tr>
        <td><label class='label'>Bank Country</label></td>
        <td><input type="text" placeholder="Bank Country" id="bankcountry" class="input is-info " onclick="inputShow(this)"/></td>
        <td><label class='label'>Routing Number</label></td>
        <td><input type="text" placeholder="Routing Number" id="routing" class="input is-info " onclick="inputShow(this)"/></td>
        <td><label class='label'>Account Number</label></td>
        <td><input type="text" placeholder="Account Number" id="account" class="input is-info " onclick="inputShow(this)"/></td>
      </tr>
      <tr>
        <td><label class='label'>Swift</label></td>
        <td><input type="text" placeholder="Swift" id="swift" class="input is-info " onclick="inputShow(this)"/></td>
        <td><label class='label'>Tax Id #</label></td>
        <td><input type="text" placeholder="Tax Id #" id="taxid" class="input is-info " onclick="inputShow(this)"/></td>
        <td colspan='2'></td>
      </tr>


    </tbody>
  </table>





 <div class="file is-boxed is-primary" id="w9Div">
  <label class="file-label" id="w9Lbl">
    <input class="file-input" type="file" name="attachment" id="w9Attachment" onchange="setFileNamesExternal('w9Div');" multiple>
    <span class="file-cta">
      <span class="file-icon">
        <i class="fas fa-upload"></i>
      </span>
      <span class="file-label">
       W9
      </span>
    </span>
      <span class="file-name" id="w9FileName">

    </span>
  </label>
</div>
 <div class="file is-boxed is-primary" id="insuranceCertDiv">
  <label class="file-label" id="insuranceCertLbl">
    <input class="file-input" type="file" name="attachment" id="insuranceCertAttachment" onchange="setFileNamesExternal('insuranceCertDiv');" multiple>
    <span class="file-cta">
      <span class="file-icon">
        <i class="fas fa-upload"></i>
      </span>
      <span class="file-label">
       Certificate of Insurance
      </span>
    </span>
      <span class="file-name" id="insuranceCertFileName">

    </span>
  </label>
</div>
 <div class="file is-boxed is-primary" id="workerCompDiv">
  <label class="file-label" id="workerCompLbl">
    <input class="file-input" type="file" name="attachment" id="workerCompAttachment" onchange="setFileNamesExternal('workerCompDiv');" multiple>
    <span class="file-cta">
      <span class="file-icon">
        <i class="fas fa-upload"></i>
      </span>
      <span class="file-label">
       Workers Compensation Statement
      </span>
    </span>
      <span class="file-name" id="workerCompFileName">

    </span>
  </label>
</div>

<div id="vendoractionsDiv">
      <button type="button" id="btnClearForm" class="button is-info">Clear Form</button>
      <button type="button" id="btnSubmitVendor" class="button is-info">Submit Form</button>
  </div>
</body>

<div class="ui longer modal" id="notificationDiv">
      <div class="header"></div>
      <div class="scrolling content">

      </div>
      <div class="actions">
      <div class="ui primary ok button">
        OK
        <i class="right chevron icon"></i>
      </div>
      </div>
    </div>
    <input type="hidden" value='{{token}}' id="token"/>
    <div id="overlay"><h1 id="loadingH1">Saving Form...</h1></div>
    </body>
    </html>