
<!DOCTYPE html>
<html lang="en">
  <head>
    {{>head}}
    <script>

    </script>
  </head>
  <body>
    <section class="hero banner">
  <div class="hero-body">
    <div>
      <img src="/assets/images/related_logo.svg" class="bannerImg"/>
      <label class="label">Related Treasury</label>
    </div>
  </div>
</section>
    <div id="vendorform" class="ui very wide center vertical visible">
  <h3 id="vendorFormHdr">Vendor Information</h3>
  <table class="ui table compact" id="payinfofields">
    <thead>

    </thead>
    <tbody>
      <tr>
        <td><label class='label'>Legal Entity Name</label></td>
        <td colspan='5'><input type="text" placeholder="Legal Entity Name" id="legalentityname" class="input is-info " onclick="inputShow(this)"/></td>
      </tr>
       <tr>
        <td><label class='label'>Address Line 1</label></td>
        <td colspan='5'><input type="text" placeholder="Address Line 1" id="address1" class="input is-info " onclick="inputShow(this)"/></td>
      </tr>
      <tr>
        <td><label class='label'>Address Line 2</label></td>
        <td colspan='3'><input type="text" placeholder="Address Line 2" id="address2" class="input is-info " onclick="inputShow(this)"/></td>
        <td><label class='label'>City</label></td>
        <td><input type="text" placeholder="City" id="city" class="input is-info " onclick="inputShow(this)"/></td>
      </tr>
      <tr>
        <td><label class='label'>State</label></td>
        <td><input type="text" placeholder="State" id="state" class="input is-info " onclick="inputShow(this)"/></td>
        <td><label class='label'>Zip Code</label></td>
        <td><input type="text" placeholder="Zip Code" id="zip" class="input is-info " onclick="inputShow(this)"/></td>
         <td><label class='label'>Country</label></td>
        <td><input type="text" placeholder="Country" id="country" class="input is-info " onclick="inputShow(this)"/></td>
      </tr>
       <tr style="background-color:aliceblue">
        <td colspan="6">
          <hr style="margin:0"/>
        </td>
      </tr>
      <tr>
        <td><label class='label'>Bank Name</label></td>
        <td><input type="text" placeholder="Bank Name" id="bankname" class="input is-info " onclick="inputShow(this)"/></td>
         <td><label class='label'>Bank Address</label></td>
        <td colspan='3'><input type="text" placeholder="Bank Address" id="bankaddress" class="input is-info " onclick="inputShow(this)"/></td>
      </tr>
      <tr>
        <td><label class='label'>Bank City</label></td>
        <td><input type="text" placeholder="Bank City" id="bankcity" class="input is-info " onclick="inputShow(this)"/></td>
        <td><label class='label'>Bank State/Province</label></td>
        <td><input type="text" placeholder="Bank State Province" id="bankstate" class="input is-info " onclick="inputShow(this)"/></td>
        <td><label class='label'>Bank ZIP/Postal</label></td>
        <td><input type="text" placeholder="Bank ZIP/Postal" id="bankzip" class="input is-info " onclick="inputShow(this)"/></td>
      </tr>
      <tr>
        <td><label class='label'>Bank Country</label></td>
        <td><input type="text" placeholder="Bank Country" id="bankcountry" class="input is-info " onclick="inputShow(this)"/></td>
        <td><label class='label'>Routing Number</label></td>
        <td><input type="text" placeholder="Routing Number" id="routing" class="input is-info " onclick="inputShow(this)"/></td>
        <td><label class='label'>Account Number</label></td>
        <td><input type="text" placeholder="Account Number" id="account" class="input is-info " onclick="inputShow(this)"/></td>
      </tr>
      <tr>
        <td><label class='label'>Swift</label></td>
        <td><input type="text" placeholder="Swift" id="swift" class="input is-info " onclick="inputShow(this)"/></td>
        <td colspan='4'></td>
      </tr>
      <tr style="background-color:aliceblue">
        <td colspan="6">
          <hr style="margin:0"/>
        </td>
      </tr>
      <tr>
        <td><label class='label'>Intermediary  Bank Name</label></td>
        <td><input type="text" placeholder="Intermediary Bank Name" id="interbankname" class="input is-info " onclick="inputShow(this)"/></td>
         <td><label class='label'>Intermediary Bank Address</label></td>
        <td colspan='3'><input type="text" placeholder="Intermediary Bank Address" id="interbankaddress" class="input is-info " onclick="inputShow(this)"/></td>
      </tr>
      <tr>
        <td><label class='label'>Intermediary Bank City</label></td>
        <td><input type="text" placeholder="Intermediary Bank City" id="interbankcity" class="input is-info " onclick="inputShow(this)"/></td>
        <td><label class='label'>Intermediary Bank State/Province</label></td>
        <td><input type="text" placeholder="Intermediary Bank State Province" id="interbankstate" class="input is-info " onclick="inputShow(this)"/></td>
        <td><label class='label'>Intermediary Bank ZIP/Postal</label></td>
        <td><input type="text" placeholder="Intermediary Bank ZIP/Postal" id="interbankzip" class="input is-info " onclick="inputShow(this)"/></td>
      </tr>
      <tr>
        <td><label class='label'>Intermediary Bank Country</label></td>
        <td><input type="text" placeholder="Intermediary Bank Country" id="interbankcountry" class="input is-info " onclick="inputShow(this)"/></td>
        <td><label class='label'>Intermediary Routing Number</label></td>
        <td><input type="text" placeholder="Routing Number" id="interrouting" class="input is-info " onclick="inputShow(this)"/></td>
        <td><label class='label'>Intermediary Swift</label></td>
        <td><input type="text" placeholder="Intermediary Swift" id="interswift" class="input is-info " onclick="inputShow(this)"/></td>
      </tr>



    </tbody>
  </table>





 <div class="file is-boxed is-primary" id="wiringInstructionsDiv">
  <label class="file-label" id="w9Lbl">
    <input class="file-input" type="file" name="attachment" id="wiringInstructionsAttachment" multiple>
    <span class="file-cta">
      <span class="file-icon">
        <i class="fas fa-upload"></i>
      </span>
      <span class="file-label">
       Wiring Instructions
      </span>
    </span>
     <!-- <span class="file-name" id="wiringInstructionsFileName">

    </span>-->
  </label>
</div>

<div id="vendoractionsDiv" style="margin-top:20px;">
      <button type="button" id="btnClearForm" class="button is-info">Clear Form</button>
      <button type="button" id="btnSubmitVendor" class="button is-info">Submit Form</button>
  </div>
</body>

<div class="ui longer modal" id="notificationDiv">
      <div class="header"></div>
      <div class="scrolling content">

      </div>
      <div class="actions">
      <div class="ui primary ok button">
        OK
        <i class="right chevron icon"></i>
      </div>
      </div>
    </div>
    <input type="hidden" value='{{token}}' id="token"/>
    <div id="overlay"><h1 id="loadingH1">Saving Form...</h1></div>
    </body>
    </html>