<div id="rightbar" class="ui very wide right sidebar vertical visible" style='display:none;'>
  <h3 id="recordInfoHdr">Vendor Info</h3>
   <button class="delete is-danger" id="rightClose" aria-label="close" onclick="hideDiv('rightbar')"></button>
     <span class="icon" id="rightMaxim" onclick="showFullDiv('rightbar');">
  <i class="fa fa-arrows-alt" aria-hidden="true"></i>
</span>
 <span class="icon" id="rightMin" onclick="showMinDiv('rightbar');">
  <i class="fa fa-window-minimize" aria-hidden="true"></i>
</span>
  <table class="ui table compact" id="payinfofields">
    <thead>
      <tr>
        <th>Setting</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Vendor ID</td>
        <td id="vendorid"></td>
      </tr>
      <tr>
        <td>Legal Entity Name</td>
        <td id="legalentityname"></td>
      </tr>
      <tr>
        <td>Address Line 1</td>
        <td id="address1"></td>
      </tr>
      <tr>
        <td>Address Line 2</td>
        <td id="address2"></td>
      </tr>
      <tr>
        <td>City</td>
        <td id="city"></td>
      </tr>
      <tr>
        <td>State</td>
        <td id="state"></td>
      </tr>
      <tr>
        <td>Zip Code</td>
        <td id="zip"></td>
      </tr>
      <tr>
        <td>Country</td>
        <td id="country"></td>
      </tr>
      <tr>
        <td>Bank Name</td>
        <td id="bankname"></td>
      </tr>
      <tr>
        <td>Bank Address</td>
        <td id="bankaddress"></td>
      </tr>
      <tr>
        <td>Bank City</td>
        <td id="bankcity"></td>
      </tr>
      <tr>
        <td>Bank State/Province</td>
        <td id="bankstate"></td>
      </tr>
      <tr>
        <td>Bank ZIP/Postal</td>
        <td id="bankzip"></td>
      </tr>
      <tr>
        <td>Bank Country</td>
        <td id="bankcountry"></td>
      </tr>
      <tr>
        <td>Routing Number</td>
        <td id="routing"></td>
      </tr>
      <tr>
        <td>Account Number</td>
        <td id="account"></td>
      </tr>
      <tr>
        <td>Swift</td>
        <td id="swift"></td>
      </tr>
      <tr>
        <td>Intermediary Bank Name</td>
        <td id="interbankname"></td>
      </tr>
      <tr>
        <td>Intermediary Bank Address</td>
        <td id="interbankaddress"></td>
      </tr>
      <tr>
        <td>Intermediary Bank City</td>
        <td id="interbankcity"></td>
      </tr>
      <tr>
        <td>Intermediary Bank State/Province</td>
        <td id="interbankstate"></td>
      </tr>
      <tr>
        <td>Intermediary Bank ZIP/Postal</td>
        <td id="interbankzip"></td>
      </tr>
      <tr>
        <td>Intermediary Bank Country</td>
        <td id="interbankcountry"></td>
      </tr>
      <tr>
        <td>Intermediary Routing Number</td>
        <td id="interrouting"></td>
      </tr>
      <tr>
        <td>Intermediary Swift</td>
        <td id="interswift"></td>
      </tr>
      <tr>
        <td>Date Created:</td>
        <td id="datecreated"></td>
      </tr>

    </tbody>
  </table>

  <table class="ui table compact collapsing" id="attachmentsTable">
    <thead>
      <tr>
        <th>Filename</th>
        <th>Date</th>
        <th>View</th>
        <th>Delete</th> <!--JM: Add option to delete file -->
      </tr>
    </thead>
    <tbody></tbody>
    </table>
  <div>
      <button type="button" id="btnBESCreate" class="button is-info">Create BES</button> <!--Jorge Medina: Create BES from Vendor Form -->
  </div>



</div>